.ProductCard{
    display: flex;
width: 160px;
height: var(--spacing-system-guides-corner-radius-72, 288px);
min-width: var(--spacing-system-guides-corner-radius-40, 160px);
max-width: var(--spacing-system-guides-corner-radius-40, 160px);
min-height: var(--spacing-system-guides-corner-radius-72, 288px);
max-height: var(--spacing-system-guides-corner-radius-64, 288px);
padding-bottom: var(--spacing-system-guides-corner-radius-3, 12px);
flex-direction: column;
justify-content: space-between;
align-items: center;
flex-shrink: 0;
border-radius: var(--spacing-system-guides-corner-radius-3, 12px);
border: 1px solid var(--Colors-Border-border-secondary, #EAECF0);
background: var(--Colors-Background-bg-primary, #FFF);
cursor: pointer;
transition: 0.5s;
overflow: hidden;
}

.ProductCard:hover{
    border: 1px solid var(--Colors-Border-border-brand-solid, #DA154D);

}

.AllProductImages{
    display: flex;
height: 160px;
min-height: var(--spacing-system-guides-corner-radius-40, 160px);
max-height: var(--spacing-system-guides-corner-radius-40, 160px);
justify-content: center;
align-items: center;
flex-shrink: 0;
align-self: stretch;
background: var(--Gray-300, #D0D5DD);
}

.ProductImage{
    width: 160px;
height: 160px;
}

.ProductDetails{
    display: flex;
padding: 0px var(--spacing-system-guides-corner-radius-3, 12px);
flex-direction: column;
justify-content: flex-end;
align-items: flex-start;
gap: var(--spacing-system-guides-corner-radius-1, 4px);
align-self: stretch;
}

.NamePrice{
    display: flex;
flex-direction: column;
align-items: flex-start;
}

.ProductName{
    display: flex;
align-items: flex-start;
align-content: flex-start;
flex-wrap: wrap;
overflow: hidden;
color: var(--colors-text-text-primary-900, #101828);
text-overflow: ellipsis;

/* Text xs/Medium */
font-family: var(--Font-family-font-family-body, Inter);
font-size: var(--Font-size-text-xs, 12px);
font-style: normal;
font-weight: 500;
line-height: var(--Line-height-text-xs, 18px); /* 150% */
display: -webkit-box;
width: 128px;
max-width: var(--spacing-system-guides-corner-radius-32, 128px);
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
line-clamp: 1;
}

.ProductPrice{
    display: flex;
justify-content: center;
align-items: flex-start;
}

.currencyPrice{
    display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
line-clamp: 1;
overflow: hidden;
color: var(--colors-text-text-brand-tertiary-600, #DA154D);
text-align: center;
text-overflow: ellipsis;

/* Text xs/Regular */
font-family: var(--Font-family-font-family-body, Inter);
font-size: var(--Font-size-text-xs, 12px);
font-style: normal;
font-weight: 400;
line-height: var(--Line-height-text-xs, 18px); /* 150% */
}

.price{
    overflow: hidden;
color: var(--colors-text-text-brand-tertiary-600, #DA154D);
text-overflow: ellipsis;

/* Text xs/Medium */
font-family: var(--Font-family-font-family-body, Inter);
font-size: var(--Font-size-text-xs, 12px);
font-style: normal;
font-weight: 500;
line-height: var(--Line-height-text-xs, 18px); /* 150% */
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
line-clamp: 1;
}